{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}

{# Bloc titre #}

<div class="container-fluid">
    <div class="row">
        <div class="blocTitleAdmin text-center col-xl-12">
            <h1>Cabinet Sages-Femmes-Osny</h1>
            <h4><i class="fas fa-briefcase-medical"></i> Sages-Femmes diplomés d'état</h4>  
        </div>
    </div>
</div>

{# Navbar #}
{{ include('admin/navbarAdmin.html.twig') }}

<div class="container-fluid">
    {% for msg in app.session.flashBag.get('success') %}
    <div class="alert alert-success text-center alert-dismissible fade show mt-4" role="alert">
        {{ msg }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    <div class="row">
        <div class="col-lg-5">
            <div class="jumbotron my-4">
                <h2 class="text-center mb-4">Créer un nouveau post</h2>
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.title, 'Titre') }}
                    {{ form_widget(form.title, { 'attr': { 'class': 'form-control' } }) }}
                    {{ form_errors(form.title) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.message, 'Texte') }}
                    {{ form_widget(form.message, { 'attr': { 'class': 'form-control' } }) }}
                    {{ form_errors(form.message) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.practicien, 'Publié par') }}
                    {{ form_widget(form.practicien, { 'attr': { 'class': 'form-control' } }) }}
                    {{ form_errors(form.practicien) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.photoFile, 'Photo') }}
                    {{ form_widget(form.photoFile, { 'attr': { 'class': 'form-control' } }) }}
                    {{ form_errors(form.photoFile) }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-lg form-control mt-4">Publier mon post</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

        <div class="col-lg-7 div_desktop">
            <div class="jumbotron my-4">
                <h2 class="text-center mb-5">Liste des posts</h2>
                {% for post in posts %}
                <dl class="row">
                    <dt class="col-md-4">Titre</dt>
                    <dt class="col-md-8">{{ post.title }}</dt>
                    <dt class="col-md-4">Publié par</dt>
                    <dt class="col-md-8">{{ post.practicien }}</dt>
                    <dt class="col-md-4">Publié le</dt>
                    <dt class="col-md-8">{{ post.publierLe | date('d/m/y') }}</dt>
                    <dt class="col-md-4">Actions</dt>
                    <dt class="col-md-8">
                        <a href="{{ path('admin_post_edit', { 'id': post.id }) }}" 
                            class="btn btn-warning"
                            data-toggle="tooltip" 
                            data-placement="bottom"
                            title="Modifier"
                            ><i class="fas fa-pen"></i>
                        </a>
                        <a href="{{ path('admin_post_delete', { 'id': post.id }) }}" 
                            class="btn btn-danger"
                            data-toggle="tooltip" 
                            data-placement="bottom"
                            title="Supprimer" 
                            onclick="return confirm
                                (`Etes vous sur de vouloir supprimer l'annonce : {{ post.title }} ?`)"
                            ><i class="fas fa-trash"></i>
                        </a>
                    </dt>
                </dl>
                <hr>
                {% else %}
                <p>Aucun post dans la base de données !</p>
                {% endfor %}
            </div>
        </div>

        <div class="col-lg-7 div_mobile">
            <div class="jumbotron my-4">
                <h2 class="text-center mb-5">Liste des posts</h2>
                {% for post in posts %}
                <p><strong>Titre :</strong> {{ post.title }}</p>
                <p><strong>Actions :</strong> 
                    <a href="{{ path('admin_post_edit', { 'id': post.id }) }}" 
                        class="btn btn-warning"
                        data-toggle="tooltip" 
                        data-placement="bottom"
                        title="Modifier"
                        ><i class="fas fa-pen"></i>
                    </a>
                    <a href="{{ path('admin_post_delete', { 'id': post.id }) }}" 
                        class="btn btn-danger"
                        data-toggle="tooltip" 
                        data-placement="bottom"
                        title="Supprimer" 
                        onclick="return confirm
                            (`Etes vous sur de vouloir supprimer l'annonce : {{ post.title }} ?`)"
                        ><i class="fas fa-trash"></i>
                    </a>
                </p>
                <hr>
                {% else %}
                <p>Aucun post dans la base de données !</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
