{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}

{# Navbar #}
{{ include('cabinet/header.html.twig') }}

{% if posts|length == 0 %}
<div class="container">
    <div class="alert alert-warning alert-dismissible fade show text-center mt-4" role="alert">
        La prochaine <strong>Newsletter</strong> arrive bientôt !
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{% else %}
{# Jumbotron post #}
<div class="container">
    <div class="jumbotron text-center hoverable p-4 mt-5 mb-5">
        <i class="fas fa-comments mb-3"></i>
        {% for post in posts %}
        <div class="card mb-3">
            <div class="card-header">
                <h2 class="text-center">{{ post.title }}</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="{{ asset('uploads/' ~ post.photo) }}" width="300" />
                    </div>
                    <div class="col-lg-8">
                        <blockquote class="blockquote mb-0">
                            <p>{{ post.message }}</p>
                            <p>Publier par : {{ post.practicien }}</p>
                            <footer class="blockquote-footer">Publié le : {{ post.publierLe|date('d-m-y') }} </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{# Jumbotron présentation #}
<div class="container">
    <div class="text-center">
        <i class="fa fa-home mb-2 mt-4"></i>
    </div>
    <h2 class="text-center mb-4">Présentation du cabinet</h2>
    <hr>
    <div class="row mx-2">
        <div class="text-center">
            <p class="mt-3 mb-5">Le cabinet est constitué d’une salle d’attente et de trois salles de consultations ainsi 
                qu’une salle de préparation à la naissance. Il n’y a pas de secrétariat.<br>
                La salle des sages-femmes Nathalie Thorax et Noémie Clément est située à droite, celle de Vincent 
                Romagné au fond à gauche. Nous travaillons également avec deux ostéopathes : Pauline Cormery et 
                Margaux Lainé. Pauline et Margaux peuvent recevoir en consultation les femmes enceintes et également 
                les bébés si besoin.<br>
                Il y a enfin, un point d’eau et des toilettes. Le cabinet est accessible aux personnes handicapées. 
            </p>
        </div>
        <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                <li data-target="#carousel-example-1z" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="view">
                        <img class="d-block w-100" src="{{ asset('img/entrer.png') }}"
                            alt="Entrée">
                        <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Entrée</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="view">
                        <img class="d-block w-100" src="{{ asset('img/entrer_2.png') }}"
                            alt="Salle d'attente">
                        <div class="mask rgba-black-strong"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Salle d'attente</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="view">
                        <img class="d-block w-100" src="{{ asset('img/salle.png') }}"
                            alt="Salle d'échographie">
                        <div class="mask rgba-black-slight"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Salle d'échographie</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="view">
                        <img class="d-block w-100" src="{{ asset('img/salle_2.png') }}"
                            alt="Salle de préparation">
                        <div class="mask rgba-black-slight"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Salle de préparation</h3>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>


        {#<div class="carousel__container mx-auto mt-4">
            <div class="carousel-item">
                <img class="carousel-item__img" src="{{ asset('img/salle_attente_2.jpg') }}" alt="Salle d'attente">
                <div class="carousel-item__details">          
                    <p class="carousel-item__details--title">Salle d'attente</p>
                    <p class="carousel-item__details--subtitle"></p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="carousel-item__img" src="{{ asset('img/salle_consult_2.jpg') }}" alt="Salle consultation">
                <div class="carousel-item__details">          
                    <p class="carousel-item__details--title">Salle de consultation</p>
                    <p class="carousel-item__details--subtitle"></p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="carousel-item__img" src="{{ asset('img/salle_prepa.jpg') }}" alt="Salle de préparation">
                <div class="carousel-item__details">          
                    <p class="carousel-item__details--title">Salle de préparation</p>
                    <p class="carousel-item__details--subtitle"></p>
                </div>
            </div>
        </div>  
    </div>#}

    
    {# Jumbotron qui sommes nous #}
    {#<div class="text-center mt-5">
        <i class="fas fa-user-md mb-2"></i>
    </div>
        <h2 class="text-center mb-4">Qui sommes nous !</h2>
        <hr>
        <div class="row">
            <div class="col-sm-4 mt-3 mb-4">
                <div class="card card-flip h-100">
                    <div class="card-front text-white bg-dark">
                        <div class="card-body">
                            <i class="fa fa-search fa-5x float-right"></i>
                            <h3 class="card-title">Front</h3>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                    <div class="card-back bg-white">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">CLEMENT Noémie</h5>
                            <p class="card-text">Suprise this one has more more more more content on the back!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mt-3 mb-4">
                <div class="card card-flip h-100">
                    <div class="card-front text-white bg-warning">
                        <div class="view overlay">
                            <img src="{{ asset('img/nathalie.jpg') }}" class="img-fluid" alt="Thorax Nathalie">
                        </div>
                    </div>
                    <div class="card-back bg-white">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">THORAX Nathalie</h5>
                            <p class="card-text">Diplômée en 2010, j'ai travaillé 5 ans à l'hôpital avant de prendre la décision
                                de m'installer en libéral. Le libéral me permet de prendre plus de temps pour accompagner la femme dans sa 
                                globalité, aussi bien pendant sa grossesse que pour son suivi gynécologique.<br>
                                Je propose, pendant la grossesse, une préparation classique à l'accouchement mais aussi de 
                                l'hypnose prénatale. J'ai également fait une formation en homéophathie pour aider à soulager les
                                maux rencontrés pendant la grossesse, pour accompagner à la naissance, à l'allaitement ou bien 
                                pour répondre aux problèmes gynécologiques.<br>
                                Par ailleurs, afin de garder un contact avec les bébés connus à leurs naissance ou pour faire de nouvelles 
                                rencontres, j'anime des ateliers massages bébé, au cabinet jusqu'à la première année de vie de l'enfant.<br>
                                Toutes ces rencontres, ces échanges, ces sourires m'ont permis de m'épanouir dans mon métier et de me
                                sentir véritablement sage-femme ! </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mt-3 mb-4">
                <div class="card card-flip h-100">
                    <div class="card-front text-white bg-primary">
                        <div class="card-body">
                            <i class="fa fa-arrow-circle-right fa-5x float-right"></i>
                            <h3 class="card-title">Front</h3>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content. This one is a little because it has more text!</p>
                        </div>
                    </div>
                    <div class="card-back bg-white">
                        <div class="card-body text-primary">
                            <h5 class="card-title  font-weight-bold">ROMAGNE Vincent</h5>
                            <p class="card-text">Je suis sage-femme depuis 2007, diplômé de l'école de sage-femme de Saint Antoine
                                à Paris, j'ai toujours exercé à l'hôpital de Pontoise de 2007 à 2018, où il est fort probable que vous m'y ayez 
                                déjà rencontré. J'ai pu m'épanouir dans tous les services et acquérir l'expérience nécessaire pour vous accompagner
                                aux mieux aujourd'hui. Au début, essentiellement dans les services de salle de naissances et grossesses à hauts risque,
                                riche en adrénaline et en émotions, je me suis peu à peu tourné vers les suites de couches et surtout la PMA (procréation
                                médicalement assistée) où j'ai accompagné les couples durant 5 ans et partagé avec eux joies, inquiètudes et peines. Puis,
                                avec mon diplôme d'échographie en poche et quelques années de pratique en milieu hospitalier, j'ai été accueilli ici par des 
                                collègues toutes aussi enthousiastes et motivés que dynamiques. Je vous reçois au cabinet avec pour objectif de réaliser les
                                meilleurs échographies possible tout en gardant à l'esprit qu'il s'agit aussi d'un instant unique d'échange et de partage.
                                Espérant vous voir prochainement, je vous souhaite une bonne journée !
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>#}

    <section class="team-section text-center mb-5">
        <div class="text-center mt-5">
            <i class="fas fa-user-md mb-2"></i>
        </div>
        <h2 class="text-center mb-4">Qui sommes nous !</h2>
        <hr>
        <div class="row text-center justify-content-center">
            <div class="col-md-4 mb-md-0 mb-5">
                <div class="testimonial">
                    <div class="avatar mx-auto">
                        <img src="{{asset('img/noemie.jpg')}}" class="rounded-circle z-depth-1 img-fluid">
                    </div>
                    <h4 class="font-weight-bold testimonial_nom mt-4">CLEMENT Noémie</h4>
                    <h6 class="font-weight-bold testimonial_job my-3">DIU gynécologie de prévention et de contraception</h6>
                    <p class="font-weight-normal testimonial_paragraphe mx-2">
                        <i class="fas fa-quote-left pr-2"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
                            eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.
                    </p>
                    <button type="button" class="btn btn-success mt-2" data-toggle="modal" data-target="#modal_noemie">
                        Lire la suite...
                    </button>
                </div>
            </div>

            <div class="col-md-4 mb-md-0 mb-5">
                <div class="testimonial">
                    <div class="avatar mx-auto">
                        <img src="{{asset('img/nathalie.jpg')}}" class="rounded-circle z-depth-1 img-fluid">
                    </div>
                    <h4 class="font-weight-bold testimonial_nom mt-4">THORAX Nathalie</h4>
                    <h6 class="font-weight-bold testimonial_job my-3">DIU gynécologie de prévention et de contraception</h6>
                    <p class="font-weight-normal testimonial_paragraphe mx-2">
                        <i class="fas fa-quote-left pr-2"></i>Diplômée en 2010, j'ai travaillé 5 ans à l'hôpital avant de prendre la décision
                            de m'installer en libéral...
                    </p>
                    <button type="button" class="btn btn-success mt-2" data-toggle="modal" data-target="#modal_nathalie">
                        Lire la suite...
                    </button>
                </div>
            </div>

            <div class="col-md-4">
                <div class="testimonial">
                    <div class="avatar mx-auto">
                        <img src="{{asset('img/vincent.jpg')}}" class="rounded-circle z-depth-1 img-fluid">
                    </div>
                    <h4 class="font-weight-bold testimonial_nom mt-4">ROMAGNE Vincent</h4>
                    <h6 class="font-weight-bold testimonial_job my-3">DU échographie obstétricale</h6>
                    <p class="font-weight-normal testimonial_paragraphe mx-2">
                        <i class="fas fa-quote-left pr-2"></i>Je suis sage-femme depuis 2007, diplômé de l'école de sage-femme de Saint Antoine
                            à Paris, j'ai toujours exercé à l'hôpital de Pontoise de 2007 à 2018...
                    </p>
                    <button type="button" class="btn btn-success mt-2" data-toggle="modal" data-target="#modal_vincent">
                        Lire la suite...
                    </button>
                </div>
            </div>
        </div>
    </section>

    {# jumbotron newsletter #}
    {#<div class="jumbotron text-center hoverable p-4">
        <div class="row">
            <div class="col-md-4 offset-md-1 mx-3 my-3">
                <div class="view overlay">
                    <img src="{{asset('img/nathalie.jpg')}}" class="img-fluid" alt="Sample image for first version of blog listing">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
            </div>
            <div class="col-md-7 text-md-left ml-3 mt-3">
                <a href="#!" class="green-text">
                    <h6 class="h6 pb-3"><i class="fas fa-desktop pr-1"></i> DIU gynécologie de prévention et de contraception</h6>
                </a>
                <h4 class="h4 mb-4">THORAX Nathalie</h4>
                <p class="font-weight-normal">Diplômée en 2010, j'ai travaillé 5 ans à l'hôpital avant de prendre la décision
                    de m'installer en libéral. Le libéral me permet de prendre plus de temps pour accompagner la femme dans sa 
                    globalité, aussi bien pendant sa grossesse que pour son suivi gynécologique.
                </p>
                <a href="#" class="btn btn-success mt-3">Lire la suite...</a>
            </div>
        </div>
    </div>#}

</div>

{# Modal de présentation #}
{{ include('cabinet/modal.html.twig') }}

{# Footer #}
{{ include('cabinet/footer.html.twig') }}

{% endblock %}
