{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}

{# Navbar #}
{{ include('cabinet/header.html.twig') }}

{% if posts|length == 0 %}
<div class="container">
    <div class="alert alert-warning alert-dismissible fade show text-center mt-4" role="alert">
        La prochaine <strong>Newsletter</strong> arrive bientôt !
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{% else %}
{# Jumbotron post #}
<div class="container">
    <div class="jumbotron text-center hoverable p-4 mt-5 mb-5">
        <i class="fas fa-comments mb-3"></i>
        {% for post in posts %}
        <div class="card mb-3">
            <div class="card-header">
                <h2 class="text-center">{{ post.title }}</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="{{ asset('uploads/' ~ post.photo) }}" width="300" />
                    </div>
                    <div class="col-lg-8">
                        <blockquote class="blockquote mb-0">
                            <p>{{ post.message }}</p>
                            <p>Publier par : {{ post.practicien }}</p>
                            <footer class="blockquote-footer">Publié le : {{ post.publierLe|date('d-m-y') }} </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{# Jumbotron présentation #}
<div class="container">
    <div class="text-center">
        <i class="fa fa-home mb-2 mt-4"></i>
    </div>
    <h2 class="text-center mb-4">Présentation du cabinet</h2>
    <hr>
    <div class="row mx-2">
        <div class="text-center">
            <p class="mt-3 mb-5">Le cabinet est constitué d’une salle d’attente et de trois salles de consultations ainsi 
                qu’une salle de préparation à la naissance. Il n’y a pas de secrétariat.<br>
                La salle des sages-femmes Nathalie Thorax et Noémie Clément est située à droite, celle de Vincent 
                Romagné au fond à gauche. Nous travaillons également avec deux ostéopathes : Pauline Cormery et 
                Margaux Lainé. Pauline et Margaux peuvent recevoir en consultation les femmes enceintes et également 
                les bébés si besoin.<br>
                Il y a enfin, un point d’eau et des toilettes. Le cabinet est accessible aux personnes handicapées. 
            </p>
        </div>
        <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                <li data-target="#carousel-example-1z" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="view">
                        <img class="d-block w-100" src="{{ asset('img/entrer.png') }}"
                            alt="Entrée">
                        <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Entrée</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="view">
                        <img class="d-block w-100" src="{{ asset('img/entrer_2.png') }}"
                            alt="Salle d'attente">
                        <div class="mask rgba-black-strong"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Salle d'attente</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="view">
                        <img class="d-block w-100" src="{{ asset('img/salle.png') }}"
                            alt="Salle d'échographie">
                        <div class="mask rgba-black-slight"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Salle d'échographie</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="view">
                        <img class="d-block w-100" src="{{ asset('img/salle_2.png') }}"
                            alt="Salle de préparation">
                        <div class="mask rgba-black-slight"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Salle de préparation</h3>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <section class="team-section text-center mb-5">
        <div class="text-center mt-5">
            <i class="fas fa-user-md mb-2"></i>
        </div>
        <h2 class="text-center mb-4">Qui sommes nous !</h2>
        <hr>
        <div class="row text-center justify-content-center">
            <div class="col-md-4 mb-md-0 mb-5">
                <div class="testimonial">
                    <div class="avatar mx-auto">
                        <img src="{{asset('img/noemie.jpg')}}" class="rounded-circle z-depth-1 img-fluid">
                    </div>
                    <h4 class="font-weight-bold testimonial_nom mt-4">CLEMENT Noémie</h4>
                    <h6 class="font-weight-bold testimonial_job my-3">DIU gynécologie de prévention et de contraception</h6>
                    <p class="font-weight-normal testimonial_paragraphe mx-2">
                        <i class="fas fa-quote-left pr-2"></i>Quelques lignes pour me présenter à vous, future maman, future papa, mère et père, femme,
                            Diplômé de l'école...
                    </p>
                    <button type="button" class="btn btn-success mt-2" data-toggle="modal" data-target="#modal_noemie">
                        Lire la suite...
                    </button>
                </div>
            </div>

            <div class="col-md-4 mb-md-0 mb-5">
                <div class="testimonial">
                    <div class="avatar mx-auto">
                        <img src="{{asset('img/nathalie.jpg')}}" class="rounded-circle z-depth-1 img-fluid">
                    </div>
                    <h4 class="font-weight-bold testimonial_nom mt-4">THORAX Nathalie</h4>
                    <h6 class="font-weight-bold testimonial_job my-3">DIU gynécologie de prévention et de contraception</h6>
                    <p class="font-weight-normal testimonial_paragraphe mx-2">
                        <i class="fas fa-quote-left pr-2"></i>Diplômée en 2010, j'ai travaillé 5 ans à l'hôpital avant de prendre la décision
                            de m'installer en libéral...
                    </p>
                    <button type="button" class="btn btn-success mt-2" data-toggle="modal" data-target="#modal_nathalie">
                        Lire la suite...
                    </button>
                </div>
            </div>

            <div class="col-md-4">
                <div class="testimonial">
                    <div class="avatar mx-auto">
                        <img src="{{asset('img/vincent.jpg')}}" class="rounded-circle z-depth-1 img-fluid">
                    </div>
                    <h4 class="font-weight-bold testimonial_nom mt-4">ROMAGNE Vincent</h4>
                    <h6 class="font-weight-bold testimonial_job my-3">DU échographie obstétricale</h6>
                    <p class="font-weight-normal testimonial_paragraphe mx-2">
                        <i class="fas fa-quote-left pr-2"></i>Je suis sage-femme depuis 2007, diplômé de l'école de sage-femme de Saint Antoine
                            à Paris, j'ai toujours exercé à l'hôpital de Pontoise de 2007 à 2018...
                    </p>
                    <button type="button" class="btn btn-success mt-2" data-toggle="modal" data-target="#modal_vincent">
                        Lire la suite...
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>

{# Modal de présentation #}
{{ include('cabinet/modal.html.twig') }}

{# Footer #}
{{ include('cabinet/footer.html.twig') }}

{% endblock %}
